<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/static/css/about_us.css">
    <!-- <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"> -->

</head>
<body>   
    {% include 'headers.html' %}
<div>
    <div class="Introduction">
        <h1>Introduction to Company</h1>
        <h2>We bring a wide range of workers to make work easier.</h2>
    </div>

    <div class="Mission">
        <h1>Mission</h1>
        <p>Our mission is to revolutionize the labor market by providing seamless access to skilled and reliable workers. We aim to connect employers with the right talent, enhancing productivity and ensuring timely project completion.</p>
    </div>

    <div class="Vision">
        <h1>Vision of the Company</h1>
        <p>Our vision is to become the leading e-labor platform, fostering a collaborative and efficient workforce. We aspire to create a trusted and innovative marketplace that empowers both workers and employers, driving economic growth and development.</p>
    </div>

    <div class="Legal">
        <h3>Legal Information</h3>
        <!-- Add your legal information here -->
    </div>

    <div class="Advantage">
        <h3>Why Should You Use This Application?</h3>
        <div>
            <div>
                <h4>Simple UI</h4>
                <p>Urban Company like popular India’s on-demand beauty care and home services app has simple User Interface (UI). As the application offers home services, its simple landing page design allows users to surf through the app with ease and book appointments on-the-go.
                    Hence, to beat the competition of Urban Company app, your new at-home beauty and salon service delivery app must have simple UI.</p>
            </div>
            <div>
                <h4>User Account</h4>
                <p>It is one of the significant features to integrate into your beauty and salon service booking app. Urban Company-like top handymen booking app development must and should have this feature to provide better control to users on their KYC and other personal information added in the application.</p>
            </div>
            <div>
                <h4>My Bookings</h4>
                <p>On-demand home services apps like Urban Company, with the integration of the “My Bookings” feature, will allows users to view their bookings history and ensure better visibility into their orders 24*7.</p>
            </div>
            <div>
                <h4>Set Date and Time</h4>
                <p>Here is another important feature that helps users to schedule their appointments at their convenience before they proceed to checkout. It optimizes user experiences as well as adds value to its functionalities.</p>
            </div>
            <div>
                <h4>Secure Online Payments</h4>
                <p>Urban Company like an Indian popular at-home services app should offer flexible online and offline (cash On Delivery) payment facilities to the users. It will enhance users enhance and improve app experiences.</p>
            </div>
            <div>
                <h4>Live Location Tracking</h4>
                <p>On-demand delivery app development without a live location tracking feature is worthless. Marketplace applications or best multipurpose apps like Urban Company must be integrated with in-app Google maps and GPS tracking functionalities.
                    It allows users to track the locations of beauticians or handymen in real-time like how we track the rider status on food delivery apps.</p>
            </div>
            <div>
                <h4>In-app Chat or Call</h4>
                <p>Integration of virtual chat or audio call facilities in Urban Company like on-demand delivery service apps will help vendors to contact customers and vice versa.</p>
            </div>
            <div>
                <h4>Reviews and Ratings</h4>
                <p>This user-friendly feature allows users to give feedback on specific services provided by professionals. On the other side, adding reviews and rating features in the on-demand haircut services app will increase the application’s reliability as it allows new users to analyze the service quality.</p>
            </div>
            <div>
                <h4>Deals and Discounts</h4>
                <p>Every e-commerce app, marketplace app, or Urban Company like on-demand service delivery apps are giving price relaxation to customers by offering discounts and coupons to the users. Adding this feature will grab the attention and improve conversions. </p>
            </div>
            <div>
                <h4>Push Notifications</h4>
                <p>This feature plays a vital role in notifying users about deals, discounts, bookings, and payments.

                    Till now, we have discussed a few must-have and basic features to add to Urban Company Clone app. Now, let’s take a look at a few significant features for service providers and admins.</p>
            </div>
            <div>
                <h4>Features For Service providers or Handymen</h4>
                <p>Here are a few must-have features to add to Urban Company like an in-home hair spa service delivery app in the vendor panel.

                    Easy Login and registration
                    Profile Management
                    Order Management
                    In-app chat with customer
                    Checking slot availability
                    Feedback View
                    Upload service details
                    Upload deals and discounts
                    Payment Status Tracking
                    Push Notifications</p>
            </div>
            <div>
                <h4>Features For Admin Panel Development:</h4>
                <p><li>Dashboard view</li>
                    <li>Location-based service updates</li>
                    <li>Location-based service updates</li>
                    <li>User and vendor profile management</li>
                    <li>Services Management</li>
                    <li>Reports and sales analytics</li>
                    <li>Optimizing service cost and management</li>
                    <li>Feedback management</li>
                    <li>Push notifications management</li>
                    </p>
            </div>
            <div>
                <h4>Technology Used</h4>
                <p>   The Right Technology Stack For Urban Company Clone App Development
                    <li>Java and Kotlin for on-demand home and salon app development on the Android operating system</li>
                 

Swift and Objective C for the development of iPhone app development
Android app development: Android SDK kit
iPhone or iOS app development: iPhone SDK
Database: MongoDB
Storage: AWS and Google Cloud
For Enabling Hassle-free Online Payment Gateways: PayPal and Stripe
Integration of push notification feature needs Twilio communication APIs
Reports and Sales Analytics: BigData and Machine Learning
                </p>
            </div>
            <div>
                <h4></h4>
                <p></p>
            </div>
            <div>
                <h4></h4>
                <p></p>
            </div>


        </div>
        <!-- Add your advantages here -->
    </div>
</div>
<div>
    <a href="{{ url_for('index') }}" class="button">Go back to homepage</a>
</div>
{% include 'footer.html' %}
</body>
</html>